@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  padding: 30px;
}

li {
  list-style: none;
  padding: 5px;
  border: solid 1px black;
  width: 300px;
  margin: 5px;
  border-radius: 5px;
}

.name, .price {
  display: inline-block;
}

.name {
  width: 100px;
}
